{% extends "base.html" %}

{% block page_content %}

<h3>Błędna zawartość pliku</h3>

<div style="margin: 30px 0px 30px 0px;">
    <a href="{% url 'password_app:import_from_csv_upload' %}">
        <button class="btn btn-outline-secondary">Powrót</button>
    </a>
</div>

<table class="password-table table table-hover">
    <thead>
    <th>Błędy</th>
    </thead>

    <tbody>
    {% for csv_error in validate_errors_list %}
    <tr>
        <td>{{ csv_error }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>



{% endblock page_content %}