{% extends "base.html" %}

{% block page_content %}

<h3>Wczytano wiersze pliku CSV</h3>

<div style="margin: 30px 0px 30px 0px;">
    <a href="{% url 'password_import_export_app:import_from_csv_upload' %}">
        <button class="btn btn-outline-secondary">Powrót</button>
    </a>
</div>

<div>
    <p>Wczytano {{ upload_file_rows|length }} wierszy z pliku CSV</p>

    <table class="password-table table table-hover">
        <thead>
            <th>Opis</th>
            <th>Wygasa</th>
            <th>Właściciel</th>
            <th>Udostępnione użytkownikom</th>
        </thead>

        <tbody>
            {% for password in upload_file_rows %}
            <tr>
                <td>{{password.description}}</td>
                <td>{{password.expiration_date}}</td>
                <td>{{password.password_owner}}</td>
                <td>{{password.password_shared_users}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<form method="post" action="{% url 'password_import_export_app:import_from_csv_load' %}">
    {% csrf_token %}
    <textarea type="text" name="csv_import_data_json" hidden>{{ upload_file_rows_json }}</textarea>
    <button type="submit" class="btn btn-outline-secondary">Wgraj</button>
</form>


{% endblock page_content %}