#map {
height: 80vh;
width: 100%;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 550px;
}

.map-new-field-help-text{
margin-top: 40px
}

.map-new-field-help-text p {
font-size: 14px;
}

.under-table-text{
    font-style: italic;
    font-size: 12px
}

.table-legend{
    font-style: normal;
    font-size: 15px
}

.confirm-delete .btn-group{
    margin-top: 20px;
}

.btn-group .btn{
    margin-right: 10px;
}