{% extends "base.html" %}
{% load widget_tweaks %}


{% block page_content %}

<div style="margin: 30px 0px 30px 0px;">
    <a href="{% url 'password_app:list' %}">
        <button class="btn btn-outline-secondary">Powrót</button>
    </a>
</div>

<h3>Importuj hasła z pliku CSV</h3>

<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid col-md-6" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field field class="form-control is-valid col-md-6" %}
        {% endif %}
        {% else %}
        {% render_field field class="form-control col-md-6" %}
        {% endif %}

        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-outline-secondary">Aktualizuj</button>
</form>

{% endblock page_content %}