{% extends "base.html" %}

{% block page_content %}

<h3>Twoje hasła</h3>

<div class="table-btns">
    <div class="row">
        <div class="btn-group mr-3">
            <a href="{% url 'password_app:add' %}">
                <button class="btn btn-outline-secondary">Dodaj</button>
            </a>
        </div>

        <div class="col-md-9">
        </div>

        <div class="btn-group mr-3">
            <button class="btn btn-outline-secondary">Export</button>
            <button class="btn btn-outline-secondary">Import</button>
        </div>
    </div>
</div>

<table class="password-table table table-hover">
    <thead>
    <th></th>
    <th>Opis</th>
    <th>Wygasa</th>
    <th>Właściciel</th>
    <th>Akcje</th>
    </thead>

    <tbody>
    {% for password in user_passwords %}
    <tr>
        <td>
            <i class="material-icons" onclick="copyToClipboard('{{password.password}}')">content_copy</i>
        </td>
        <td>{{password.description}}</td>
        <td>{{password.expiration_date}}</td>
        <td>{{password.password_owner}}</td>
        <td>
            <i data-toggle="collapse" data-target="#accordion-{{password.pk}}" class="material-icons">info</i>
            <a href="{% url 'password_app:update' password.pk %}"><i class="material-icons">edit</i></a>
            {% if user == password.password_owner %}
                <a href="{% url 'password_app:delete' password.pk %}"><i class="material-icons">delete_forever</i></a>
            {% endif %}
        </td>
    </tr>
    <tr id="accordion-{{password.pk}}" class="collapse">
        <td colspan="3">
            <div>
                <ul>
                    {% if password.password_shared_users.count > 0 %}
                        <li><b>Hasło dzielone z użytkownikami: </b>{{ password.password_shared_users.all|join:", " }}</li>
                    {% endif %}
                    <li><b>Data utworzenia: </b>{{password.create_date}}</li>
                    <li><b>Data modyfikacji: </b>{{password.modify_date}}</li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
/**
 * Copy a string to clipboard
 * @param  {String} string         The string to be copied to clipboard
 * @return {Boolean}               returns a boolean correspondent to the success of the copy operation.
 */
function copyToClipboard(string) {
  let textarea;
  let result;

  try {
    textarea = document.createElement('textarea');
    textarea.setAttribute('readonly', true);
    textarea.setAttribute('contenteditable', true);
    textarea.style.position = 'fixed'; // prevent scroll from jumping to the bottom when focus is set.
    textarea.value = string;

    document.body.appendChild(textarea);

    textarea.focus();
    textarea.select();

    const range = document.createRange();
    range.selectNodeContents(textarea);

    const sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range);

    textarea.setSelectionRange(0, textarea.value.length);
    result = document.execCommand('copy');
    alert("Hasło skopiowane");
  } catch (err) {
    console.error(err);
    result = null;
  } finally {
    document.body.removeChild(textarea);
  }

  // manual copy fallback using prompt
  if (!result) {
    const isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0;
    const copyHotkey = isMac ? '⌘C' : 'CTRL+C';
    result = prompt(`Press ${copyHotkey}`, string); // eslint-disable-line no-alert
    if (!result) {
      return false;
    }
  }
  return true;
}
</script>

{% endblock page_content %}